on:
    push:
        branches: [master]

jobs:
    test_and_publish:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.0

            - name: Setup Node 22
              uses: actions/setup-node@v6.0.0

            - name: Install
              run: npm i
            
            - name: Test
              id: Test
              run: npm run test-ci

            - name: Login
              if: steps.Test.outcome == 'success'
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKER_HUB_USER }}
                password: ${{ secrets.DOCKER_HUB_PWD }}
            
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: khunly1982/test
            

    publish:
        runs-on: ubuntu-latest
        needs: test_and_publish
        if: needs.test_and_publish.result == 'success'
        steps:
            - name: deploy
              uses: appleboy/ssh-action@v1
              with:
                  host: khunly.be
                  username: debian
                  key: ${{ secrets.KEY }}
                  script: docker run -d -e secret=${{ secrets.SECRET }} -p 3000:3000 khunly1982/test:latest

