on:
    workflow_dispatch:

jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
            - name: step 1
              run: echo 42
            
            - name: Checkout
              uses: actions/checkout@v6.0.0
            - name: step 2
              run: ls -a -l
    
